<header id="ventCover">
  <div class="jumbotron jumbotron-fluid wcnCover">
    <div class="container">
      <img class="img-fluid img-circle mx-auto" src="assets/images/ACU-3.jpg" alt="avatar">
      <p class="wcnTitleHigh">Valorad de la Septia</p>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="row mx-auto">
      <div class="card col-md-4 mx-auto">
        <div class="card-block">
          <h4 class="card-title">Basic info</h4>
          <p class="card-text">Level 0</p>
        </div>
      </div>
      <div class="col-md-7 mx-auto">a breif description</div>
    </div>
  </div>
  
</main>