<header id="ventCover">
  <div class="jumbotron jumbotron-fluid wcnCover">
    <div class="container">
      <img class="img-fluid img-circle mx-auto" src="assets/images/ACU-3.jpg" alt="avatar">
      <p class="wcnTitleHigh">Valorad de la Septia</p>
    </div>
  </div>
</header>
<section id="ventInfo">
  <div class="container">
    <div class="row mx-auto">
      <div class="card col-md-4 mx-auto">
        <div class="card-block">
          <h4 class="card-title">Basic info</h4>
          <p class="card-text">Level 0</p>
        </div>
      </div>
      <div class="col-md-7 mx-auto">...And that fight taught valorad how to be a person.</div>
    </div>
  </div>
</section>



<main id="ventAct">
  <header class="wcnPanel">
    <h3 class="wcnTitleHigh display-4">Activities</h3>
  </header>
  <masonry class="grid container-fluid" [useImagesLoaded]="true" [options]='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
      <div class="grid-sizer"></div>
      <article class="card wcnContent grid-item">
        <div class="card-block">
          <h4 class="card-title wcnTitleHigh">building wcnexus</h4>
          <p class="card-text wcnParaDark">wcnexus.com is on the way.</p>
        </div>
      </article>
      <article class="card wcnContent grid-item">
        <div class="card-block">
          <h4 class="card-title wcnTitleHigh">prodigy</h4>
          <p class="card-text wcnParaDark">noun, plural prodigies.</p>
          <ol>
            <li class="card-text wcnParaDark">a person, especially a child or young person, having extraordinary talent or ability:
a musical prodigy.</li>
            <li class="card-text wcnParaDark">a marvelous example (usually followed by of).</li>
            <li class="card-text wcnParaDark">something wonderful or marvelous; a wonder.</li>
            <li class="card-text wcnParaDark">something abnormal or monstrous.</li>
            <li class="card-text wcnParaDark">Archaic. something extraordinary regarded as of prophetic significance.</li>
          </ol>
          <p class="card-text wcnParaDark"></p>
        </div>
      </article>
      <article class="card wcnContent grid-item">
        <div class="card-block">
          <h4 class="card-title wcnTitleHigh">wcn Terraria subway project</h4>
          <p class="card-text wcnParaDark">Subway project in one of wc world in game Terraria.</p>
        </div>
      </article>
    </masonry>
</main>