@import "../../Globalsite/scss/_colors.scss";

$theme: (
	tDefault: (
		cPanels: $blue-grey,
		cBtns: $blue-grey,
		cLargeBG: $grey
	)
);

$currentTheme: map-get($theme, tDefault);
$currentCPanels: map-get($currentTheme, cPanels);
$currentCBtns: map-get($currentTheme, cBtns);
$currentCLargeBG: map-get($currentTheme, cLargeBG);


$LOfluid: 0px -15px 0px -15px;
$CpnGapBottom: 20px; //bottom gap between 2 components

.navOpacified{
	background-color: rgba($currentCPanels, 0.01) !important;
}

#divnavbarTop {
	position: fixed;
	z-index: 10;
	background-color: $currentCPanels;
}

#divnavheader > a > img {
	height: 30px;
}

#divHeadBox {
	margin: $LOfluid;
	margin-bottom: $CpnGapBottom;
	background-color: $currentCLargeBG;
	> div.row {
		margin-left:0px;
		margin-right:0px;
	}
}

#divWCAvatar {
	text-align: center;
	> img {
		box-shadow: 2px 6px 2px -5px #ccc;
    	margin-bottom: 4px;	
		height: 300px;
		margin: 0px auto;
	}
}

%titleWithLogo {
	text-align: center;
	> img {
		height: 160px;
		display: inline;
	}
	> h1{
		display: inline;
		position: relative;
		top: 10px;
		font-size: 55px;
		font-weight: bolder;
	}
	> p {
		font-size:27px;
	}	
}

#divTitle {
	@extend %titleWithLogo;
}

#secSiteShowcase {
	p {
		text-align: center;
		position: relative;
		bottom: 5px;
		font-weight: bold;
	}
}

#divAboutSite {
	> h1 {
		margin-bottom: 0.5em;
	}
	> p {
		margin-left: 2em;
	}
	> footer {
		text-align: right;
	}
}    

#wcSlider {
	margin-bottom: $CpnGapBottom;
	h1 {
		background-color: rgba(0, 0, 0, 0.6);
		border-radius: 30px;
	}	
}

%underNavBtn {
    top:40px;
    right:0px;
}

#formLoginBox {

}



#divLoginBox div.form-group {
	margin-top: 0px;
}

#divLoginBox {
	// position: fixed;
	// z-index: 100;
	// top: 40%;
	// right: 40%;
	// div.container {
	// 	width: initial;
	// }
	footer {
		text-align: right;
	}	
}

#secMenu {
	display: none;
	@extend %underNavBtn;
	position: absolute;		
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 9px 10px;
}

#divUserPanel {
	// display: none;

}

/* Responsive Settings Start*/

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {	
	#divWCAvatar {
		margin: 0px 80px 0px 40px;
	}

	#divnavheader > a > span.title {
		margin-left: -25px;
	}

	.hideInXS {
		display: none;
	}
	#secSiteShowcase {
		p {
			text-align: center;
			position: relative;
			bottom: 5px;
			font-weight: bold;
		}
	}	
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	#divTitle {
		position: relative;
		top: 63px;
	}
}



/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#divHeadBox {
		height: 300px;
	}

	#divTitle {
		position: relative;
		top: 63px;
	}

	#divLoginBox {
		div.modal-content {
			height: 300px;
		}
	}
}

/* Responsive Settings End*/