@import "../../Globalsite/scss/base.scss";

#headTip {
	#divFtip {
		text-align: center;
		color: $red;
		padding-top: 2px;
		h4 {
			height: 50px;
		}
	}
}

#divHeadBox {
	background-color: $currentCLargeBG;
	div {
		text-align: center;
		img {
			height: 100px;
			margin: 0px auto;
		}
		h1 {
			color: $white;
			margin-top: 28px;
			white-space: nowrap;
		}
	}
}

#divLoginBox {
	fieldset {
		div.is-empty {
	
		}
		div.is-focused {

		}

		//at any time,
		label.control-label {
			margin-left: 1em;
		}		
		div.inputblock {
			padding-left: 2em
		}		
	}
}

#ftSiteBottom {
	position: fixed;
	width: 100%;
	bottom: 0px;
}



/* Responsive Settings Start*/

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {	
 
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}



/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#divLoginBox {
		fieldset {
			div.is-empty {
		
			}
			div.is-focused {
				label.control-label {
					margin-left: -2em;
				}
			}

			//at any time,
			label.control-label {
				margin-left: 0em;
			}		
			div.inputblock {
				padding-left: 2em
			}		
		}
	}
	
}


/* Responsive Settings End*/