/* This file should only be included once! */
@import './theme-core';

$index-primary: mat-palette($mat-blue);
$index-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$index-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$index-theme: mat-light-theme($index-primary, $index-accent, $index-warn);

// mat hack
$localPrimary: map-get(map-get($index-theme, primary), 500); 
$localAccent: map-get(map-get($index-theme, accent), 500); 
$localWarn: map-get(map-get($index-theme, warn), 500); 
$foreground: white;

.mat-blue-pink {
  @include angular-material-theme($index-theme);
  .primary {
    background-color: $localPrimary;
  }
  .primary-text {
    color: $localPrimary;
  }
  .accent {
    background-color: $localAccent;
  }
  .accent-text {
    color: $localAccent;
  }
  .warn {
    color: $localWarn;
  }
}

body {
  background-color: #f0f0f0;
}