@import "./_colors.scss";

// $themePanelColor: $grey;
// $themePanelBGColor: $black;
// $themeTitleColor: $grey-300;
// $themeTitleColorHigh: $red-800;

$theme: (
    tDefault: (
        PanelColor: $blue-grey,
        CoverColor: $grey,
        bodyColor: $grey-50,
        ContentBGColor: $white,
        TitleColor: $blue-grey-800,
        TitleColorHigh: $blue
    ),
    tAC: (
        PanelColor: $grey,
        CoverColor: $black,
        bodyColor: $grey-800,
        ContentBGColor: $white,
        TitleColor: $grey-300,
        TitleColorHigh: $red-800
    ),
    tFallout: (
        PanelColor: $light-blue,
        CoverColor: $green-800,
        bodyColor: $green-100,
        ContentBGColor: $teal,
        TitleColor: $grey-300,
        TitleColorHigh: $yellow
    )
)