@import "./_colors.scss";

$theme: (
    tDefault: (
        PanelColor: $blue-grey,
        CoverColor: $grey,
        bodyColor: $grey-50,
        ContentBGColor: $white,
        TitleColor: $blue-grey-800,
        TitleColorHigh: $blue
    ),
    tAC: (
        PanelColor: $grey,
        CoverColor: $black,
        bodyColor: $grey-800,
        ContentBGColor: $white,
        TitleColor: $brown,
        TitleColorHigh: $red-800
    ),
    tFallout: (
        PanelColor: $light-blue,
        CoverColor: $green-800,
        bodyColor: $green-100,
        ContentBGColor: $grey-800,
        TitleColor: $grey-300,
        TitleColorHigh: $yellow
    ),
    tTES: (
        PanelColor: $blue-grey-300,
        CoverColor: $grey,
        bodyColor: $grey,
        ContentBGColor: $grey-800,
        TitleColor: $grey-600,
        TitleColorHigh: $grey-300
    )
);

@mixin getTheme($themeName) {

    $localTheme: map-get($theme, $themeName);

    $PanelColor: map-get($localTheme, PanelColor);
    $CoverColor: map-get($localTheme, CoverColor);
    $bodyColor: map-get($localTheme, bodyColor);
    $ContentBGColor: map-get($localTheme, ContentBGColor);
    $TitleColor: map-get($localTheme, TitleColor);
    $TitleColorHigh: map-get($localTheme, TitleColorHigh);

    background-color: $bodyColor;

    .wcnPanel {
        background-color: $PanelColor;
    }
    .wcnButton {
        background-color: $PanelColor;
        color: $TitleColor;
    }
    .wcnCover {
        background-color: $CoverColor;
    }
    .wcnContent {
        background-color: $ContentBGColor;
    }
    .blockquote {
        color: $TitleColorHigh;
        border-left-color: $PanelColor;
        .blockquote-footer {
            color: $TitleColorHigh;
        }
    }
    .wcnParaDark {
        color: $TitleColor
    }
    .wcnButtonHigh {
        color: $TitleColorHigh;
    }
    .icon-wcNexusLogo {
        color: $TitleColorHigh;
    }
    .wcnTitle {
        color: $TitleColor;
    }
    .wcnTitleHigh {
        color: $TitleColorHigh;
    }
}