{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0 width=device-width height = device-height user-scalable = no"  />  
  <title>wcNexus Awaits!</title>
  <!-- /////////////// -->
  <!-- /// Styles /// -->
  <!-- /////////////// -->
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}" />
  <!-- Google Material Design Files Relay -->
  <link rel="stylesheet" type="text/css" href="{% static 'Globalsite/css/mdFonts.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'Globalsite/css/mdIcons.css' %}" />  
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static 'Globalsite/css/bootstrap.min.css' %}" />
  <!-- Bootstrap MD Theme css-->
  <link rel="stylesheet" type="text/css" href="{% static 'Globalsite/css/bootstrap-material-design.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'Globalsite/css/ripples.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'Globalsite/css/snackbar.min.css' %}" />  

  <!-- /////////////// -->
  <!-- /// Scripts /// -->
  <!-- /////////////// -->
  <!-- JQuery -->
  <script src="{% static 'Globalsite/js/jquery-3.1.0.min.js' %}"></script>
  <script src="{% static 'Globalsite/js/wcNexusUtil.js' %}"></script>
  <script src="{% static 'Globalsite/js/snackbar.min.js' %}"></script>
  <!-- Homepage script js-->
  <script type="text/javascript">
    function login(credential) {
      $.post("{% url 'home:Login' %}", credential, function(res) {
        if(res["status"] == "success") {
          $("#divLoginBox").modal("hide");
          $("#ALogIn").hide();
          $.snackbar({
            content: "Great! Welcome back, " + res['name'] + " !",
            timeout: 5000,
            style: "toast",
          });
          loginSuccess(res["name"]);
          $("#secMenu").toggle();
        }
        else {
          $.snackbar({
            content: "Opps! Seems your username/password was invalid",
            timeout: 5000,
            style: "toast",
          }); 
          $("#formGName").addClass("has-error");
          $("#formGPswd").addClass("has-error");
        }
      });
    }

    function logout() {
      $.get("{% url 'home:Logout' %}", function(res) {
        if(res["status"]) {
          $.snackbar({
            content: "You have signed out successfully. Bye~",
            timeout: 5000,
            style: "toast",
          });
          logoutSuccess();
          $("#secMenu").toggle();
        }
        else {
          $.snackbar({
            content: "Something went wrong during your log-out process",
            timeout: 5000,
            style: "toast",
          }); 
        }
      });
    }

    function loginSuccess(username) {     
      $("#ALogOut").show();
      $("#ALogIn").hide();
      $("#spUserName").html(username);
      $("#spUserType").html("Admin");
    }

    function logoutSuccess() {
      $("#ALogIn").show();
      $("#ALogOut").hide();
      $("#spUserName").html("Not Logged");
      $("#spUserType").html("Qunzhong");
    }

    //Initiate binding events
    $(function() {
      $("#btnShowMenu").click(function() {
        $("#secMenu").toggle();
      });
      $("#btnSignIn").click(function() {
        var credential = {
          "username": $("#inputUsername").val(),
          "password": $("#inputPassword").val()
        };
        login(credential);
      });
      $("#ALogOut").click(function() {
        logout();
      });
      $("#ALogIn").click(function() {
        $("#divLoginBox").modal();
        $("#formGName").removeClass("has-error");
        $("#formGPswd").removeClass("has-error");
      });
      $("#btnForgotPswd").click(function() {
        $.snackbar({
          content: "Gai Bei Shi! Nobody can save you now!",
          timeout: 5000,
          style: "toast",
        });
      });    
    });
  </script>
</head>
<body>
  <nav>
    <div class="navbar navbar-default col-xs-12 navOpacified" id="divnavbarTop">
      <div class="container-fluid">
        <div class="navbar-header" id="divnavheader">
          <a class="navbar-brand" href="#">
            <img src="{% static 'home/images/wcNexusLogo.png' %}" class="img img-responsive">
          </a>          
          <a class="navbar-brand" href="#">
            <span class="title">wcNexus</span>
          </a>
        </div>
          <button type="button" class="wcNavBtn" id="btnShowMenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>
    </div>    
  </nav>
  <header>  
    <div class="container-fluid">
      <div class="panel" id="divHeadBox">
        <div class="row">
          <div class="col-md-6" id="divWCAvatar">
            <img class="img img-responsive" src="{% static 'home/images/Skyrim-dragonborn.png' %}" alt="wcAvatar">
          </div>
          <div class="col-md-6" id="divTitle">
            <img class="img img-responsive" src="{% static 'home/images/wcNexusLogo.png' %}" alt="wcnexus">
            <h1 class="display-3">wcNexus</h1>
            <p>Harbor. Shelter. WC. SDK.</p>
          </div>          
        </div>
      </div>
    </div>
  </header>
  <main>
    <section id="secSiteShowcase">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <div class="panel">
              <a href="#">
                <img class="img img-responsive" src="{% static 'home/images/Shelter.png' %}" alt="Shelter" />
                <p>Shelter</p>                
              </a>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="panel">
              <a href="#">
                <img class="img img-responsive" src="{% static 'home/images/moderator-512.png' %}" alt="WC">
                <p>WC</p>               
              </a>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="panel">
              <a href="#">
                <img class="img img-responsive" src="{% static 'home/images/SdkMain.png' %}" alt="SDK">
                <p>SDK</p>                
              </a>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="panel">
              <a href="#">
                <img class="img img-responsive" src="{% static 'home/images/UIplus.png' %}" alt="More">
                <p>more...</p>                
              </a>
            </div>
          </div>          
        </div>
      </div>
    </section>
    <header>
      <div class="container">
        <div class="jumbotron" id="divAboutSite">
          <h1>About this site</h1>
          <p>wc's personal blog-like site.</p>
          <p>powered by Django 1.10.</p>
          <footer><a class="btn btn-primary btn-lg" href="https://docs.djangoproject.com/en/1.10/" target="_blank">Learn more</a></footer>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="wcSlider" class="carousel slide" data-ride="carousel">
            <!-- Indicators dot nav -->
            <ol class="carousel-indicators">
              <li data-target="#wcSlider" data-slide-to="0" class="active"></li>
              <li data-target="#wcSlider" data-slide-to="1"></li>
              <li data-target="#wcSlider" data-slide-to="2"></li>
            </ol>
            <!-- Wrappers for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <a href="http://www.linruotian.com" target="_blank">
                  <img src="{% static 'home/images/protoss.jpg' %}" alt="Also check out linruotian.com!">
                </a>
                <div class="carousel-caption">
                  <h1 class="">Also check out linruotian.com</h1>
                </div>
              </div>
              <div class="item">
                <a href="https://github.com/wcxaaa/wcnexus.com" target="_blank">
                  <img src="{% static 'home/images/forkwcnonG.jpg' %}" alt="Fork me on Github">
                </a>
                <div class="carousel-caption">
                  <h1 class="">Fork me on Github!</h1>
                </div>
              </div>
              <div class="item">
                <a href="http://image.baidu.com/search/index?tn=baiduimage&ipn=r&ct=201326592&cl=2&lm=-1&st=-1&fm=index&fr=&sf=1&fmq=&pv=&ic=0&nc=1&z=&se=1&showtab=0&fb=0&width=&height=&face=0&istype=2&ie=utf-8&word=%E8%B6%85%E8%90%8C%E5%B0%8F%E7%8C%AB%E7%8C%AB&oq=%E8%B6%85%E8%90%8C%E5%B0%8F%E7%8C%AB%E7%8C%AB&rsp=-1" target="_blank">
                  <img src="{% static 'home/images/kittyfun.png' %}" alt="Fork me on Github">
                </a>
                <div class="carousel-caption">
                  <h1 class="">Also a fan of cats?</h1>
                </div>
              </div>
            </div>

            <!-- controls or next&prev buttons -->
            <a class="left carousel-control" href="#wcSlider" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#wcSlider" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>          
          </div>
        </div>      
      </div>      
    </div>
  </main>
  <div class="modal" id="divLoginBox">
    <div class="container">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Sign in/up</h4>
          </div>
          <div class="modal-body">
            <div class="col-lg-12">
              <form class="form-horizontal" id="formLoginBox">      
                <fieldset>
                  <div class="form-group label-floating" id="formGName">
                    <label for="inputUsername" class="col-md-2 control-label">UserName</label>
                    <div class="col-md-10">
                     <input type="text" class="form-control" id="inputUsername" placeholder="">
                    </div>
                  </div>
                  <div class="form-group label-floating" id="formGPswd">
                    <label for="inputPassword" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="">
                    </div>              
                  </div>
                  <div class="form-group">
                    <div class="col-md-10">
                      <div class="checkbox">
                        <label><input type="checkbox">Remember Me</label>
                      </div>
                    </div>
                 </div>
                </fieldset>
                <footer>
                  <a class="btn btn-primary btn-lg" id="btnForgotPswd">Forgot</a>
                  <a class="btn btn-primary btn-lg" id="btnSignIn">Sign in</a>
<!--                   <button class="btn btn-primary btn-lg">Forgot</button>
                  <button class="btn btn-primary btn-lg" id="btnSignIn">Sign in</button> -->
                </footer>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="secMenu">
    <div class="container">
      <div class="row panel">
        <div class="list-group">
          <div class="list-group-item" id="divUserInfo">
            <div class="row-content">
              <div>
               <img class="img img-responsive img-circle" src="{% static 'home/images/Skyrim-dragonborn.png' %}" alt="Avatar">
              </div>
              <div>
                <span id="spUserName">Not logged</span>
                <span id="spUserType" class="label label-warning">Qunzhong</span>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="row-content">
              <h3 class="list-group-item-heading"><a href="#" id="ALogOut">Sign Out</a></h3>
              <h3 class="list-group-item-heading"><a href="#" id="ALogIn">Sign In/Up</a></h3>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="divSnackbar"></div>
  <!-- Bootstrap -->
  <script src="{% static 'Globalsite/js/bootstrap.min.js' %}"></script>
  <!-- Bootstrap MD Theme js-->
  <script src="{% static 'Globalsite/js/material.min.js' %}"></script>
  <script src="{% static 'Globalsite/js/ripples.min.js' %}"></script>
  
  <script type="text/javascript">
    //Bootstrap Material Design Theme init
    $.material.init();
    //function handling VisibilityChange
    function onVisibilityChange(el, callback) {
        var old_visible;
        return function () {
            var visible = !isElementDisappeared(el);
            if (visible != old_visible) {
                old_visible = visible;
                if (typeof callback == 'function') {
                    callback(visible);
                }
            }
        }
    }

    var handlerLogo = onVisibilityChange($("#divTitle"), function(visible) {
      visible?($("#divnavheader .navbar-brand").addClass("hideInXS")):($("#divnavheader .navbar-brand").removeClass("hideInXS"));
    });

    var handlerNavOpa = onVisibilityChange($("#divWCAvatar"), function(visible) {
      visible?($("#divnavbarTop").addClass("navOpacified")):($("#divnavbarTop").removeClass("navOpacified"));
    });   

    //jQuery
    $(window).on('DOMContentLoaded load resize scroll', handlerLogo);
    $(window).on('DOMContentLoaded load resize scroll', handlerNavOpa);   
  </script>
  {% if request.user.is_authenticated %}
  <script>
    loginSuccess("{{ request.user }}");
  </script>
  {% else %}
  <script>
    logoutSuccess();
  </script>
  {% endif %}  
</body>
</html>