{% extends "Globalsite/base.html" %}
{% load static %}
{% load i18n %}

  {% block Title %}wcNexus Awaits!{% endblock %}
  {% block Customcss %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}" />
  {% endblock %}

{% block mainContent %}
  <header>  
    <div class="container-fluid">
      <div class="panel" id="divHeadBox">
        <div class="row">
          <div class="col-md-6" id="divWCAvatar">
            <img class="img img-responsive" src="{% static 'home/images/Skyrim-dragonborn.png' %}" alt="wcAvatar">
          </div>
          <div class="col-md-6" id="divTitle">
            <img class="img img-responsive" src="{% static 'home/images/wcNexusLogo.png' %}" alt="wcnexus">
            <h1 class="display-3">wcNexus</h1>
            {% get_current_language as LANGUAGE_CODE %}
            <!-- Current language: {{ LANGUAGE_CODE }} -->
            <p>{% blocktrans %}Harbor. Shelter. WC. SDK.{% endblocktrans %}</p>
            
          </div>          
        </div>
      </div>
    </div>
  </header>
  <main>
    <section id="secSiteShowcase">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <div class="panel">
              <a href="#">
                <img class="img img-responsive" src="{% static 'home/images/Shelter.png' %}" alt="Shelter" />
                <p>Shelter</p>                
              </a>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="panel">
              <a href="#">
                <img class="img img-responsive" src="{% static 'home/images/moderator-512.png' %}" alt="WC">
                <p>WC</p>               
              </a>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="panel">
              <a href="#">
                <img class="img img-responsive" src="{% static 'home/images/SdkMain.png' %}" alt="SDK">
                <p>SDK</p>                
              </a>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="panel">
              <a href="#">
                <img class="img img-responsive" src="{% static 'home/images/UIplus.png' %}" alt="More">
                <p>more...</p>                
              </a>
            </div>
          </div>          
        </div>
      </div>
    </section>
    <header>
      <div class="container">
        <div class="jumbotron" id="divAboutSite">
          <h1>About this site</h1>
          <p>wc's personal blog-like site.</p>
          <p>powered by Django 1.10.</p>
          <footer><a class="btn btn-primary btn-lg" href="https://docs.djangoproject.com/en/1.10/" target="_blank">Learn more</a></footer>
        </div>
      </div>
    </header>

    <div class="container" id="divHotSites">
      <div class="row">
        <div class="col-md-12">
          <div id="wcSlider" class="carousel slide" data-ride="carousel">
            <!-- Indicators dot nav -->
            <ol class="carousel-indicators">
    {% for site in hotSites %}
              <li data-target="#wcSlider" data-slide-to="{{ forloop.counter }}"></li>
    {% endfor %} 
            </ol>
            <!-- Wrappers for slides -->
            <div class="carousel-inner" role="listbox">
    {% for site in hotSites %}
              <div class="item">
                <a href="{{ site.link }}" target="_blank">
                  <img src="{{ site.img }}" alt="{{ site.title }}">
                </a>
                <div class="carousel-caption">
                  <h1>{{ site.title }}</h1>
                </div>
              </div>      
    {% endfor %}            
<!--               
              <div class="item">
                <a href="http://image.baidu.com/search/index?tn=baiduimage&ipn=r&ct=201326592&cl=2&lm=-1&st=-1&fm=index&fr=&sf=1&fmq=&pv=&ic=0&nc=1&z=&se=1&showtab=0&fb=0&width=&height=&face=0&istype=2&ie=utf-8&word=%E8%B6%85%E8%90%8C%E5%B0%8F%E7%8C%AB%E7%8C%AB&oq=%E8%B6%85%E8%90%8C%E5%B0%8F%E7%8C%AB%E7%8C%AB&rsp=-1" target="_blank">
                  <img src="{% static 'home/images/kittyfun.png' %}" alt="Fork me on Github">
                </a>
                <div class="carousel-caption">
                  <h1 class="">Also a fan of cats?</h1>
                </div> -->
              </div>
            </div>

            <!-- controls or next&prev buttons -->
            <a class="left carousel-control" href="#wcSlider" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#wcSlider" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>          
          </div>
        </div>      
      </div>      
    </div>
  </main>

  <div>
<form action="{% url 'set_language' %}" method="post" style="display:none">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
  <select name="language">
    {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
          {{ language.name_local }} ({{ language.code }})
        </option>
      {% endfor %}
  </select>
  <input type="submit" value="Change" />
</form>
  </div>

  {% endblock %}
  {% block CustomJS %}
    <script type="text/javascript">

      //function handling VisibilityChange
      function onVisibilityChange(el, callback) {
          var old_visible;
          return function () {
              var visible = !isElementDisappeared(el);
              if (visible != old_visible) {
                  old_visible = visible;
                  if (typeof callback == 'function') {
                      callback(visible);
                  }
              }
          }
      }

      var handlerLogo = onVisibilityChange($("#divTitle"), function(visible) {
        visible?($("#divnavheader .navbar-brand").addClass("hideInXS")):($("#divnavheader .navbar-brand").removeClass("hideInXS"));
      });

      var handlerNavOpa = onVisibilityChange($("#divWCAvatar"), function(visible) {
        visible?($("#divnavbarTop").addClass("navOpacified")):($("#divnavbarTop").removeClass("navOpacified"));
      });   

      //jQuery
      $(window).on('DOMContentLoaded load resize scroll', handlerLogo);
      $(window).on('DOMContentLoaded load resize scroll', handlerNavOpa);
      $(function() {
        $("#wcSlider ol.carousel-indicators li:first").addClass("active");
        $("#wcSlider div.carousel-inner div.item:first").addClass("active");
      });
    </script>

  {% endblock %}
 

