{% extends "Globalsite/base.html" %}
{% load static %}


{% block Title %}wcNexus Authentication{% endblock %}

  {% block Customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/login.css' %}" />   
  {% endblock %}

  {% block navBarMenu %}{% endblock %}

{% block mainContent %}
<div class="container-fluid">
  <div class="row">
    <div class="panel col-xs-12" id="divHeadBox">
      <div class="col-xs-12 col-md-6">
        <img class="img img-responsive" src="{% static 'home/images/wcNexusLogo.png' %}" alt="wcNexusLogo">
      </div>
      <div class="col-xs-12 col-md-6">
        <h1>wcNexus Authentication</h1>
      </div>
    </div>  
  </div> 

</div>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
     <header class="col-md-6" id="headTip">
    {% if request.user.is_authenticated %}
    <div id="divFtip"><h4>You've already logged in, please go back.</h4></div>
    <script>
      window.location = "{% url 'home:HomePage' %}";
    </script>
    </header>
    {% else %}
      {% if userbkinfo.status == "failure" %}
      <div id="divFtip"><h4>{{ userbkinfo.status }}:Your username and password didn't match. Please try again.</h4></div>
            
      {% endif %} 
    </header>   
  </div>
</div>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8 well" id="divLoginBox">
  <form class="form-horizontal" method="post" action="{% url 'home:login_Form' %}">
  {% csrf_token %}
    <fieldset>
      <legend>You have to log in to do this.</legend>
      <div class="form-group label-floating">
        <label for="inputEmail" class="col-md-2 control-label">UserName</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="inputEmail" placeholder="" name="username">
        </div>
      </div>
      <div class="form-group label-floating">
        <label for="inputPassword" class="col-md-2 control-label">Password</label>

        <div class="col-md-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="" name="password">
        </div>
      </div>
      <div class="form-group">
        <footer class="col-md-10">
          <a class="btn btn-primary" id="AiForget">iForget</a>
          <button type="submit" class="btn btn-primary">Submit</button>

        </footer>
      </div>
    </fieldset>
  </form>        
      </div>
    </div>
  </div>
</main>
  
{% endif %} 

{% endblock %}

{% block nvScripts %}

{% endblock %}

{% block CustomJS %}
     <script>
    //Events bindings
      $(function() {
        $("#AiForget").click(function() {
          alert("You deserve it! Nobody can save you now!");
        });
      });      
    </script>
{% endblock %}
