<main class="app-404">

  <div id="symbolHolder" class="col-md-5 mx-auto">

  <div class="wifi-symbol">
    <div class="wifi-circle first symbol"></div>
    <div class="wifi-circle second symbol"></div>
    <div class="wifi-circle third symbol"></div>
    <div class="wifi-circle fourth symbol"></div>
  </div>

  </div>
  <div>
    <p class="title wcnTitleP">http 404</p>
    <p class="wcnTitleA1">Opps! This nexus is out of reach.</p> 
    <p class="wcnTitleA1">You may go back to <a routerLink="/index">home page</a>.</p>
  </div>
  
</main>