<header id="cover" class="jumbotron jumbotron-fluid wcnBG">
  <div class="container-fluid">
    <div class="row">
      <div id="coverImgHolder" class="col-md-6">
        <img class="img-fluid mx-auto" [src]="themeService.runningTheme.coverImg" alt="wcn-Fallout">
      </div>
      <div id="titleHolder" class="col-md-6">
        <div>
          <span class="icon-wcNexusLogo"></span>
          <h1 class="display-3 wcnTitleP">wcNexus</h1>
          <h3 class="wcnTitleA2" [innerHTML]="runningTheme.slogan">Connect wc worlds.</h3>
        </div>
      </div>
    </div>
  </div>
</header>

<!--<section class="container-fluid">
  <div class="row">
    <section id="recomSite" class="carousel slide mx-auto" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#recomSite" data-slide-to="0" class="active"></li>
        <li data-target="#recomSite" data-slide-to="1"></li>
        <li data-target="#recomSite" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <a href="#">
            <img class="d-block img-fluid" src="assets/images/testskyrim.jpg" alt="testskyrim">
          </a>
          <div class="carousel-caption d-none d-lg-block d-xl-block">
            <h3>testskyrim</h3>
            <small class="descr">Skyrim is a game that wc favors most</small>
          </div>
        </div>
        <div class="carousel-item">
          <a href="#">
            <img class="d-block img-fluid" src="assets/images/steam-wallpaper-17.jpg" alt="Steam">
          </a>
          <div class="carousel-caption d-none d-lg-block d-xl-block">
            <h3>Steam</h3>
            <small class="descr">Steam. Gpan's walletcraft</small>
          </div>
        </div>
        <div class="carousel-item">
          <a href="#">
            <img class="d-block img-fluid" src="assets/images/protoss.jpg" alt="linruotian">
          </a>
          <div class="carousel-caption d-none d-lg-block d-xl-block">
            <h3>linruotian.com</h3>
            <small class="descr">Billy cdk vault</small>
          </div>
        </div>
        <a class="carousel-control-prev" href="#recomSite" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#recomSite" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>
  </div>
</section>-->

<section id="recomSite">
  <carousel>
    <slide>
      <article>
        <a href="####">
          <img class="d-block img-fluid" src="assets/images/testskyrim.jpg" alt="testskyrim">
        </a>
        <div class="carousel-caption d-none d-lg-block d-xl-block">
          <h3>Skyrim</h3>
          <small class="descr">Skyrim is a game that wc favors most</small>
        </div>
      </article>
    </slide>
    <slide>
      <article>
      <a href="####">
        <img class="d-block img-fluid" src="assets/images/steam-wallpaper-17.jpg" alt="Steam">
      </a>
      <div class="carousel-caption d-none d-lg-block d-xl-block">
        <h3>Steam</h3>
        <small class="descr">Steam. Gpan's walletcraft</small>
      </div>
      </article>

    </slide>
    <slide>
      <article>
      <a href="####">
        <img class="d-block img-fluid" src="assets/images/protoss.jpg" alt="linruotian">
      </a>
      <div class="carousel-caption d-none d-lg-block d-xl-block">
        <h3>linruotian.com</h3>
        <small class="descr">Billy cdk vault</small>
      </div>
      </article>

    </slide>
  </carousel>
</section>

<main id="indexMain">
  <div class="container-fluid">
    <div class="row mx-auto">
      <md-card class="col-md-5 col-lg-4">
        <img class="card-img-top img-fluid" src="assets/images/wcnexus.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">About wcnexus.com</h4>
          <p class="card-text">wcnexus.com is a big nexus of wc worlds. Know more about wc or become a xiaomajia right now!</p>
          <footer>
            <a md-button color="primary" href="####">what?</a>
          </footer>
        </div>
      </md-card>
      <md-card id="themeControl" class="col-md-5 col-lg-4">
        <img class="card-img-top img-fluid" [src]="runningTheme.themeImg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title wcnTitleHigh" [innerHTML]="runningTheme.themeDescrTitle">wcNexus default theme</h4>
          <p class="card-text wcnParaDark" [innerHTML]="runningTheme.themeDescr">wcNexus is a nexus of wcWorlds</p>
          <footer>
            <a md-button color="primary" href="####" (click)="showModal()">Change</a>
          </footer>
        </div>
      </md-card>
      <md-card id="masterInfo" class="col-md-5 col-lg-3">
        <header>
          <img class="img-fluid img-circle mx-auto" src="assets/images/fallout-VaultBoy-2.jpg" alt="Card image cap">
        </header>
        <div class="card-block">
          <h4 class="card-title wcnTitleHigh">Valorad</h4>
          <p class="wcnParaDark">Your respectful master</p>
          <blockquote class="blockquote wcnTitleHigh">
            <p class="card-text">What is life's greatest illusion?</p>
          </blockquote>
          <p><br></p>
          <footer>
            <a md-button color="primary" href="####" (click)="msE()">Freedom</a>
            <a md-button color="primary" href="####" (click)="msE(true)">Innocence</a>
            <a md-button color="primary" href="####" (click)="msE()">Order</a>
            <a md-button color="primary" href="####" (click)="msE()">Life</a>
          </footer>
        </div>
      </md-card>
    </div>
  </div>
</main>

<section id="upComings">
  <header class="wcnPanel">
    <h3 class="wcnTitleHigh display-5">Upcomings</h3>
  </header>
  <masonry class="grid container-fluid" [useImagesLoaded]="true" [options]='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
    <masonry-brick class="brick"> </masonry-brick>
    <div class="grid-sizer"></div>
    <masonry-brick  *ngFor="let up of upcomings">
      <md-card class="grid-item">
        <img *ngIf="up.img!==(null||undefined||'')" class="card-img-top img-fluid" src="{{ up.img }}" alt="{{ up.title }}">
        <div class="card-block">
          <h4 class="card-title">{{ up.title }}</h4>
          <p class="card-text">{{ up.descr }}</p>
        </div>
      </md-card>
    </masonry-brick>
  </masonry>
</section>

<!-- Modals -->
<div *ngIf="isThemeModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #selThemeModal="bs-modal" id="selThemeModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title display-5" id="selThemeModalLabel">Select a theme</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deSelectATheme(); hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li value="tAC">
            <a href="####" value="tAC">
              <div value="tAC" (click)="selectATheme($event)">
                <img value="tAC" class="img-fluid" src="assets/images/themes/tAC/wcn-theme-ac.jpg" alt="tAC">
                <small value="tAC">AC</small>
              </div>
            </a>
          </li>
          <li value="tFallout">
            <a href="####" value="tFallout">
              <div value="tFallout" (click)="selectATheme($event)">
                <img value="tFallout" class="img-fluid" src="assets/images/themes/tFallout/wcn-theme-fallout.jpg" alt="tFallout">
                <small value="tFallout">Fallout</small>
              </div>
            </a>
          </li>
          <li value="tTES">
            <a href="####" value="tTES">
              <div value="tTES" (click)="selectATheme($event)">
                <img value="tTES" class="img-fluid" src="assets/images/themes/tTES/wcn-theme-tes.jpg" alt="tTES">
                <small value="tTES">Elder scroll</small>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button md-button (click)="deSelectATheme(); hideModal()">Close</button>
        <button md-button color="primary" (click)="themeService.changeTheme(selectedTheme); hideModal()">OK</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isMSModalShown" [config]="{ show: true }" (onHidden)="onHidden2()" bsModal #msDialog="bs-modal" id="msDialog" class="modal fade" tabindex="2" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Master</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal2()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p [innerHTML]="msRes">Response from it</p>
      </div>
    </div>
  </div>
</div>

<!-- Test Area -->