<header id="cover" class="jumbotron jumbotron-fluid wcnBG">
  <div class="container-fluid">
    <div class="row">
      <div id="coverImgHolder" class="col-md-6">
        <img class="img-fluid mx-auto" [src]="themeService.runningTheme.cover" alt="wcn-Fallout">
      </div>
      <div id="titleHolder" class="col-md-6">
        <div>
          <span class="icon-wcNexusLogo"></span>
          <h1 class="display-3 wcnTitleP">wcNexus</h1>
          <h3 class="wcnTitleA2" [innerHTML]="themeService.runningTheme.slogan">Connect wc worlds.</h3>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="recomSite">
  <carousel>
    <slide *ngFor="let recSite of recomSites">
      <article>
        <a href="{{ recSite.link }}" target="_blank">
          <img class="d-block img-fluid" src="{{ recSite.img }}" alt="{{ recSite.title }}">
        </a>
        <div class="carousel-caption d-none d-lg-block d-xl-block">
          <h3>{{ recSite.title }}</h3>
          <small class="descr">{{ recSite.descr }}</small>
        </div>
      </article>
    </slide>
  </carousel>
</section>

<main id="indexMain">
  <div class="container-fluid">
    <div class="row mx-auto">
      <md-card class="col-md-5 col-lg-4">
        <img class="card-img-top img-fluid" src="assets/images/wcnexus.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">About wcnexus.com</h4>
          <p class="card-text">wcnexus.com is a big nexus of wc worlds. Know more about wc or become a xiaomajia right now!</p>
          <footer>
            <a md-button color="primary" href="https://github.com/wcxaaa/wcnexus.com" target="_blank">what?</a>
          </footer>
        </div>
      </md-card>
      <md-card id="themeControl" class="col-md-5 col-lg-4">
        <img class="card-img-top img-fluid" [src]="themeService.runningTheme.titleImg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title wcnTitleHigh" [innerHTML]="themeService.runningTheme.title">wcNexus default theme</h4>
          <p class="card-text wcnParaDark" [innerHTML]="themeService.runningTheme.descr">wcNexus is a nexus of wcWorlds</p>
          <footer>
            <a md-button color="primary" (click)="showModal()">Change</a>
          </footer>
        </div>
      </md-card>
      <md-card id="masterInfo" class="col-md-5 col-lg-3">
        <header>
          <img class="img-fluid img-circle mx-auto" src="assets/images/fallout-VaultBoy-2.jpg" alt="Card image cap">
        </header>
        <div class="card-block">
          <h4 class="card-title wcnTitleHigh">Valorad</h4>
          <p class="wcnParaDark">Your respectful master</p>
          <blockquote class="blockquote wcnTitleHigh">
            <p class="card-text">What is life's greatest illusion?</p>
          </blockquote>
          <p><br></p>
          <footer>
            <a md-button color="primary" (click)="msE()">Freedom</a>
            <a md-button color="primary" (click)="msE(true)">Innocence</a>
            <a md-button color="primary" (click)="msE()">Order</a>
            <a md-button color="primary" (click)="msE()">Life</a>
          </footer>
        </div>
      </md-card>
    </div>
  </div>
</main>

<section id="upComings">
  <header class="wcnPanel">
    <h3 class="wcnTitleHigh display-5">Upcomings</h3>
  </header>
  <masonry class="grid container-fluid" [useImagesLoaded]="true" [options]='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
    <masonry-brick class="brick"> </masonry-brick>
    <div class="grid-sizer"></div>
    <masonry-brick  *ngFor="let up of upcomings">
      <md-card class="grid-item">
        <img *ngIf="up.img!==(null||undefined||'')" class="card-img-top img-fluid" src="{{ up.img }}" alt="{{ up.title }}">
        <div class="card-block">
          <h4 class="card-title">{{ up.title }}</h4>
          <p class="card-text">{{ up.descr }}</p>
        </div>
      </md-card>
    </masonry-brick>
  </masonry>
</section>

<!-- Modals -->
<div *ngIf="isThemeModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #selThemeModal="bs-modal" id="selThemeModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title display-5" id="selThemeModalLabel">Select a theme</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deSelectATheme(); hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li *ngFor="let theme of themesToChoose">
            <a title="{{ theme.name }}">
              <div title="{{ theme.name }}" (click)="selectATheme($event)">
                <img title="{{ theme.name }}" class="img-fluid" src="{{ theme.titleImg }}" alt="{{ theme.name }}">
                <small title="{{ theme.name }}">{{ theme.title }}</small>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button md-button (click)="deSelectATheme(); hideModal()">Close</button>
        <button md-button color="primary" (click)="themeService.changeTheme(selectedTheme); hideModal()">OK</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isMSModalShown" [config]="{ show: true }" (onHidden)="onHidden2()" bsModal #msDialog="bs-modal" id="msDialog" class="modal fade" tabindex="2" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Master</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal2()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p [innerHTML]="msRes">Response from it</p>
      </div>
    </div>
  </div>
</div>

<!-- Test Area -->