#sideNav {
    background-color: rgba(36,38,38,.93);
    position: fixed;
    z-index: 100;
    padding: 10px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    transition: all 150ms cubic-bezier(.86,0,.07,1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    ul {
        list-style-type: none;
    }
}

.exitTop {
    top: -100vh;
}

#wcnNav {
    span.icon-wcNexusLogo {
        color: inherit;
        font-size: 2.5rem;
    }
    span.title {
        font-size: 1.5rem;
        text-transform: initial;
    }
    ul {
        display: inline;
        list-style: none;
        padding-left: 0px;
        li {
            a {
                padding: 0.5em 1em;
            }

            display: inline;
        }
    }
}

#navUser {
    position: absolute;
    right: 1em;
    img {
        max-height: 2.5em;
        width: auto;
    }
}

div.display {
    height: 150px;
    margin-top: 10px;
    text-align: center;
}

.navActBtn {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 100;
}

footer.siteBottom {
    h1 {
        text-align: center;
        margin-bottom: 0px;
        font-size: 1em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}


@mixin ltLG() {
    //wcn Main nav in xs, sm, md screen is invisible
    #wcnNav {
        display: none;
    }
}

@mixin gtMD() {
    //side nav btn in lg, xl screen is invisible
    #navltLG {
        display: none;
    }
}

/* Responsive Settings Start. Bootstrap v4 */

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 576px) {
    @include ltLG();
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    @include ltLG();
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    @include ltLG();
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    @include gtMD();
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    @include gtMD();
}

/* Responsive Settings End*/