<main id="wcnexusHolder" [class]="themeService.runningTheme.currentThemeClass">
<!--<md-sidenav-container>-->


  <md-toolbar color="primary" id="wcnNav" class="container">
    <div id="brandHolder">
      <button md-button class="navbar-brand" routerLink="/index"><span class="icon-wcNexusLogo"></span> <span class="title display-5">{{ title }}</span></button>
    </div>
    <div id="menuHolder">
      <ul>
        <li><button md-button routerLink="/venturer">Venturer</button></li>
        <li><button md-button href="####">Theme</button></li>
        <li><button md-button href="####">About</button></li>
      </ul>
    </div>
    <div id="navUser">
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav">
          <li>
            <button md-button>Sign in</button>
          </li>
          <li>
            img(sned)
          </li>
        </ul>
      </form>
    </div>
  </md-toolbar>

  <nav id="navltLG" class="navActBtn">
    <button md-fab (click)="toggleSideNav()"><i class="material-icons">menu</i></button>
  </nav>

    <!--<md-sidenav #sidenav mode="over" class="app-sidenav">
    Sidenav
  </md-sidenav>-->


  <aside id="sideNav" [hidden]="!sidenavShown" [class.exitTop]="navExit">
    <nav class="navActBtn"><button md-fab (click)="toggleSideNav()"><i class="material-icons">close</i></button></nav>
  </aside>
  

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer id="siteBottom" class="wcnPanel">
    <div class="container">
      <h1>Case number: XICPB23948739923</h1>
    </div>
  </footer>

<!--</md-sidenav-container>-->
</main>
