<nav id="appNav" class="navbar navbar-toggleable-md navbar-light bg-faded">
  <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#wcnNavContent" aria-controls="wcnNavContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->

  <button class="navbar-toggler navbar-toggler-right" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" id="wcnNavContent">
    <a class="navbar-brand" href="#"><span class="icon-wcNexusLogo"></span> <span>wcNexus</span></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Venturer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </li>
    </ul>
    <ul>
      
    </ul>
    <div id="navUser">
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <button class="btn btn-outline-success">Sign in</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary">Sign up</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <h2>footer</h2>
</footer>

<!-- this was a test
  <h1>
  {{title}}
</h1>

<h2>Current theme: {{ currentClass }}</h2>

<select name="theme" id="selTheme" #selTheme>
  <option value="white">white</option>
  <option value="black">black</option>
</select>

<button (click)="changeClass(selTheme.options[selTheme.selectedIndex].value)">Change</button>

<div id="test" class="container">
  <h2>test section</h2>
  <div [class]="currentAppliedClass">
    <h3>C1</h3>
  </div>
  <div [class]="currentAppliedClass">
    <h3>C2</h3>
  </div>
  <div [class]="currentAppliedClass">
    <h3>C3</h3>
  </div>
  <div [class]="currentAppliedClass">
    <h3>C4</h3>
  </div>
</div>-->