header.index {
  height: 600px;
  background-color: rgba(1, 1, 1, 0.8);
}

section.intro {
  height: 1080px;
  background-color: rgba(40, 116, 202, 0.8);
}

section.master {
  height: 1080px;
  background-color: rgba(19, 177, 59, 0.8);
}