<section class="index">
  <header class="index">
    <div class="content">
      cover multiple pics grid
    </div>
    <div>
      absolute positioned wcnexus xiaomajia alliance
    </div>
  </header>
  <main class="index">
    <section class="intro">
      <div class="content">
        introduction to site
      </div>
    </section>
    <section class="master">
      <div class="content">
        get to know more about your master valorad
      </div>
    </section>
    <section>
      <div class="content">
        further links (cards)
      </div>
    </section>
  </main>
</section>