<section class="index">
  <header class="index">
    <div class="content">
      <div class="picwall">
        <ul>
          <li *ngFor="let avt of dummyAvt">
            <div class="avatar">
              img
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="title">
      <div class="content">
        <main>
          <span class="brand"><i class="icomoon icon-wcnexus"></i></span>
          <h1>wcnexus</h1>
          <p>We choose to live many.</p>
        </main>
      </div>
    </div>
  </header>
  <main class="index">
    <section class="intro">
      <div class="content">
        introduction to site
      </div>
    </section>
    <section class="master">
      <div class="content">
        get to know more about your master valorad
      </div>
    </section>
    <section>
      <div class="content">
        further links (cards)
      </div>
    </section>
  </main>
</section>