.row > * {
  align-items: center;
}

div.descr {
  p.title {
    font-size: 2em;
    font-weight: bold;
  }
}

header.index {
  height: 600px;
  background-color: rgba(1, 1, 1, 0.8);
  position: relative;
  overflow: hidden;
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    position: absolute;
    left: calc(50% - 600px);
    z-index: 8;
    top: -8%;
  }
  div.avatar {
    width: 10em;
    height: 10em;
    margin: 1em;
    background-color: transparent;
    opacity: 0.1;
    transition: all 0.2s ease-in;
  }
  div.avatar:hover {
    opacity: 1.0;
  }

  div.title {
    position: absolute;
    z-index: 10;
    top: 25%;
    width: 100%;
    transform: translateX(50%);
    left: -50%;
    main {
      margin: 0px auto;
      color: white;
    }
    .row {
      align-items: center;
    }
  }

  div.brand, div.titleMain {
    text-align: center;
  }

  i {
    font-size: 10em;
  }

  h1 {
    font-size: 5em;
    margin: 0px;
  }
  div.slogan {
    text-align: center;
    font-size: 1.5em;
  }
}

main.index {
  h1 {
    margin: 0px;
    text-align: center;
    font-size: 3em;
  }
  
  h2 {
    padding: 0.5em;
    font-weight: 300;
  }
  > section {
    margin: 3em auto;
  }
  section.topics {
    margin-top: 5em;
  }
}

section.intro {
  section.topics {
    picture.avatar {
      margin: 1em;
      width: 4em;
      height: 4em;
      background-color: burlywood;
    }
  }

  div.master {
    picture.avatar {
      width: 6em;
      height: 6em;
      margin: 1em auto;
    }
    p {
      text-align: center;
      font-weight: bold;
    }
  }

  div.xmj {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    p {
      text-align: center;
      font-weight: bold;
    }
  }
}

section.site {

  div.cstech {
    text-align: center;
    .tech {
      padding: 1em;
    }
    .title {
      font-weight: bold;
    }
  }
  div.tech {
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  div.tech:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  div.icon {
    height: 64px;
    width: 64px;
    overflow: hidden;
    margin: 0px auto;
  }
}

section.tour {
  .colHolder {
    width: unset;
  }
}

// screen sm, md, lg, xl
@media only screen and (min-width: 576px) {

  section.site {

    div.cstech {
      transform: translateX(3em);
    }
  }
}

// screen lg, xl
@media only screen and (min-width: 992px) {
  header.index {
    div.brand {
      text-align: right;
    }
    div.titleMain {
      text-align: left;
    }
  }

  main.index {
    h1 {
      margin: 0px;
      margin-bottom: 1em;
    }
    > section {
      margin: 5em auto;
    }
  }

}


