<section class="index">
  <header class="index">
    <div class="content">
      <div class="picwall">
        <ul>
          <li *ngFor="let photo of onWallPhotos">
            <div class="avatar">
              <img class="fluid" [src]="onWallPhotoBase + photo.img" [alt]="photo.title">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="title">
      <div class="content">
        <main>
          <div class="row primary-text">
            <div class="col-lg-5 brand">
              <span class="brand"><i class="icomoon icon-wcnexus"></i></span>
            </div>
            <div class="col-lg-5 titleMain">
              <h1>wcnexus</h1>
            </div>
          </div>
          <div class="slogan">
            <h2>We choose to live many.</h2>
          </div>
        </main>
      </div>
    </div>
  </header>
  <main class="index">
    <section class="intro">
      <div class="content">
        <h1>Welcome to wcnexus</h1>
        <div class="row">
          <div class="descr flex-right col-lg-6">
            <div class="colHolder">
              <p class="title">wcnexus is wc's personal website as nexus.</p>
              <p>I developed this site for the purpose of my interest display, 
                demostration of front-end (and also maybe some back-end) techniques,
                but more importantly, to accomplish what wished couple of years ago.
              </p>
            </div>
          </div>
          <div class="imgHolder col-lg-6 flex-left">
            <picture class="colHolder">
              <img class="fluid" src="../../assets/images/wcnexus.png" alt="wcnexus">
            </picture>
          </div>
        </div>
        <section class="topics">
          <h2 class="primary">About me</h2>
          <div class="row">
            <div class="avatarHolder flex-right col-lg-6">
              <div class="colHolder">
                <div class="master">
                  <picture class="avatar">
                    <img class="fluid" [src]="userAvatarBase + master.avatar" [alt]="master.name">
                  </picture>
                  <p [innerHtml]="master.name"></p>
                </div>

                <div class="xmj">
                  <ul>
                    <li *ngFor="let xmj of xiaomajias">
                      <div>
                        <picture class="avatar">
                          <img class="fluid" [src]="userAvatarBase + xmj.avatar" [alt]="xmj.name">
                        </picture>
                        <p [innerHTML]="xmj.name"></p>
                      </div>

                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="descr flex-left col-lg-6">
              <div class="colHolder">
                <p class="title">单身喵，伪学霸。老滚辐射粉，刺客远哭粉，龙腾质量粉。杯赛路，育碧路，EA黑。</p>
                <p>Loves CS, video games, installing OS</p>
                <p>Front-end, GIS</p>
                <p>Currently working at an IT company.</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>

    <section class="site">
      <div class="content">
        <h1>About wcnexus</h1>
        <div class="row">
          <div class="descr flex-right col-lg-6">
            <div class="colHolder">
              <p class="title">wcnexus was developed by wc and his xiaomajias.</p>
              <p>We're currently in version 3 dev stage.</p>
            </div>
          </div>
          <div class="imgHolder flex-left col-lg-6">
            <div class="colHolder">
              <picture>pic</picture>
            </div>
          </div>
        </div>

        <section class="topics">
          <h2 class="primary">CS technologies we used</h2>
          <div class="row cstech">

            <div *ngFor="let tech of dummyTechs" class="tech col-sm-5 col-md-3 col-lg-2">
              <div class="icon">img is nownull</div>
              <p class="title">{{ tech.title }}</p>
              <small class="descr">{{ tech.descr }}</small>
              <div class="action">
                <a mat-button color="primary" [href]="tech.link">know more</a>
              </div>
            </div>

          </div>
          <h2 class="primary">History and releases</h2>

          v1
          v2
          v3

        </section>

        
      </div>
    </section>

    <section class="tour">
      <div class="content">
        <h1>Let's go</h1>
        <section class="topics">
            further links (cards) cards
        </section>
      </div>
    </section>
  </main>
</section>