<header id="cover" class="jumbotron jumbotron-fluid wcnCover">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid mx-auto" src="assets/images/wcn-AC.png" alt="wcn-AC">
      </div>
      <div id="titleHolder" class="col-md-6">
        <div>
          <span class="icon-wcNexusLogo"></span>
          <h1 class="display-3 wcnTitleHigh">wcNexus</h1>
          <h3 class="wcnTitle">{{ words }}</h3>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="container-fluid">
  <div class="row">
    <section id="recomSite" class="carousel slide mx-auto" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <a href="#">
            <img class="d-block img-fluid" src="assets/images/testskyrim.jpg" alt="testskyrim">
          </a>
          <div class="carousel-caption d-none d-lg-block d-xl-block">
            <h3>testskyrim</h3>
            <small class="descr">Skyrim is a game that wc favors most</small>
          </div>
        </div>
        <div class="carousel-item">
          <a href="#">
            <img class="d-block img-fluid" src="assets/images/steam-wallpaper-17.jpg" alt="Steam">
          </a>
          <div class="carousel-caption d-none d-lg-block d-xl-block">
            <h3>Steam</h3>
            <small class="descr">Steam. Gpan's walletcraft</small>
          </div>
        </div>
        <div class="carousel-item">
          <a href="#">
            <img class="d-block img-fluid" src="assets/images/protoss.jpg" alt="linruotian">
          </a>
          <div class="carousel-caption d-none d-lg-block d-xl-block">
            <h3>linruotian.com</h3>
            <small class="descr">Billy cdk vault</small>
          </div>
        </div>
        <a class="carousel-control-prev" href="#recomSite" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#recomSite" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>
  </div>
</section>

<main>
  <div class="container">
    <div class="row">
      <section class="card col-md-6" style="width: 20rem;">
        <img class="card-img-top img-fluid" src="assets/images/testskyrim.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">About wcnexus.com</h4>
          <p class="card-text">wcneus.com is a nexus of wc world. Know more about wc or become a xiaomajia right now!</p>
          <a href="#" class="btn btn-primary">what?</a>
        </div>
      </section>
      <section class="card col-md-6" style="width: 20rem;">
        <img class="card-img-top img-fluid img-circle" src="assets/images/wcn-theme-ac.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Assassin's Creed</h4>
          <p class="card-text">AC game by Ubisoft</p>
          <a href="#" class="btn btn-primary">Change</a>
        </div>
      </section>
      <section class="card col-md-6" style="width: 20rem;">
        <img class="img-fluid img-circle " src="assets/images/testskyrim.jpg" alt="Card image cap">
        <div class="card-block">
          your master
        </div>
      </section>
    </div>
  </div>
</main>

<section class="container grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
  <article class="card grid-item">
    ERROR in
  </article>
  <article class="card grid-item">
    Error encountered resolving symbol values statically.
  </article>
  <article class="card grid-item">
    Calling function 'makeDecorator', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function
  </article>
  <article class="card grid-item">
    Error encountered resolving symbol values statically. Error encountered resolving symbol values statically.
  </article>
  <article class="card grid-item">
    ERROR in
  </article>
  <article class="card grid-item">
    resolving symbol NgModule in E:/DocCenter/va_WorkStation_Benben/vaSites/wcnexus.com/node_modules/@angular/platform-browser/node_modules/@angular/core/index.d.ts, resolving symbol BrowserModule in DocCenter/va_WorkStation_Benben/vaSites/wcnexus.com/node_modules/@angular/platform-browser/src/browser.d.ts, resolving symbol BrowserModule in E:/DocCenter/va_WorkStation_Benben/vaSites/wcnexus.com/node_modules/@angular/platform-browser/src/browser.d.ts
  </article>
  <article class="card grid-item">
    Error encountered resolving symbol values statically.
  </article>
  <article class="card grid-item">
    ERROR in
  </article>
  <article class="card grid-item">
    Error encountered resolving symbol values statically. Error encountered resolving symbol values statically.
  </article>
</section>