header#cover {
    padding: 0px;
    span.icon-wcNexusLogo {
        font-size: 150px;
    }
    div#titleHolder {
        padding-top: 9%;
        div h1 {
            display: inline-block;
            position: relative;
            bottom: 50px;
        }
    }
}

