@import "../../assets/scss/_wcnthemes.scss";

header#cover {
    padding-top: 0px;
    margin-bottom: 1px;
}

#titleHolder {
    span.icon-wcNexusLogo {
        font-size: 150px;
    }
    h1.wcnTitleHigh {
        font-weight: bolder;
    }
}

#recomSite {
    margin-bottom: 0.75rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

main#indexMain {
    section.card {
        display: flex;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        transition: 1s;
        p {
            margin-bottom: 2rem;
        }
        footer {
            position: absolute;
            bottom: 4px;
            left: 8px;
        }
    }
}

section#masterInfo {
    img {
        max-width: 100px;
        box-shadow: 3px 2px 0 3px rgba(153, 153, 153, 0.4);
    }
}

// header#cover in screen greater than xs. Using mixin instead of % is beacuse % is a sb.
@mixin headerInGtXS {
    padding: 0px;
    div#titleHolder {
        div h1 {
            display: inline-block;
            position: relative;
            bottom: 50px;
        }
    }
}


/* Responsive Settings Start. Bootstrap v4 */

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 576px) {	
header#cover {
    div#titleHolder {
        text-align: center;
    }
    img {
        box-shadow: 1px 6px 2px -4px #fafafa;
    }
}
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
header#cover {
    div#titleHolder {
        text-align: center;
    }
    img {
        box-shadow: 1px 6px 2px -4px #fafafa;
    }
}
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
header#cover {
    div#titleHolder {
        padding-top: 5%;
    }
    @include headerInGtXS;
}
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
header#cover {
    div#titleHolder {
        padding-top: 9%;
    }
    @include headerInGtXS;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
header#cover {
    div#titleHolder {
        padding-top: 120px;
    }
    @include headerInGtXS;
}
}

/* Responsive Settings End*/
