@import "../../assets/scss/_wcnthemes.scss";

header#cover {
    padding-top: 0px;
    margin-bottom: 1px;
}

#titleHolder {
    span.icon-wcNexusLogo {
        font-size: 150px;
    }
    h1.wcnTitleHigh {
        font-weight: bolder;
    }
}

#recomSite {
    margin-bottom: 0.75rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

main#indexMain {
    section.card {
        display: flex;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        transition: 1s;
        p {
            margin-bottom: 2rem;
        }
        footer {
            position: absolute;
            bottom: 4px;
            left: 8px;
        }
    }
}

section#masterInfo {
    img {
        max-width: 100px;
        box-shadow: 3px 2px 0 3px rgba(153, 153, 153, 0.4);
    }
    blockquote > p {
        margin-bottom: 0px !important;
    }
}



section#upComings {
    header {
        h1 {
            padding: 5px 0px 5px 15px;
        }
    }
/* Masonry settings */ 

    * { box-sizing: border-box; }

    .grid {
        width: 100%;
        padding-left: 4%;
    }
    /* clearfix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

    .grid-item {
        float: left;
    }

    .grid-sizer { width: 5%; }
    .grid-item { width: 80%; }


}

#selThemeModal {
    div.modal-header {
        button {
            position: absolute;
            right: 40px
        }
    }
    div.modal-body {
        ul {
            list-style: none;
            padding: 0px;
            li {
                display: inline-block;
                margin-right: 10px;
            }
            div {
                display:inline-block;
                text-align: center;
            }
        }
        img {
            width: 200px;
        }
    }
}


// header#cover in screen greater than xs. Using mixin instead of % is beacuse % is a sb.
@mixin headerInGtXS {
    padding: 0px;
    div#titleHolder {
        div h1 {
            display: inline-block;
            position: relative;
            bottom: 50px;
        }
    }
}



/* Responsive Settings Start. Bootstrap v4 */

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 576px) {	
header#cover {
    div#titleHolder {
        text-align: center;
    }
    img {
        box-shadow: 1px 6px 2px -4px #fafafa;
    }
}

}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
header#cover {
    div#titleHolder {
        text-align: center;
    }
    img {
        box-shadow: 1px 6px 2px -4px #fafafa;
    }
}

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
header#cover {
    div#titleHolder {
        padding-top: 5%;
        h3 {
            padding-left: 3rem;
        }
    }
    @include headerInGtXS;
}

section#upComings {
/* Masonry settings */ 
    .grid-sizer { width: 10%; }
    .grid-item { width: 40%; }
}


}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
header#cover {
    div#titleHolder {
        padding-top: 9%;
        h3 {
            padding-left: 3rem;
        }
    }
    @include headerInGtXS;
}

section#upComings {
/* Masonry settings */ 
    .grid-sizer { width: 5%; }
    .grid-item { width: 25%; }
    }


}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
header#cover {
    div#titleHolder {
        padding-top: 120px;
        h3 {
            padding-left: 3rem;
        }
    }
    @include headerInGtXS;
}

section#upComings {
/* Masonry settings */ 
    .grid-sizer { width: 4%; }
    .grid-item { width: 20%; }
    }

}
/* Responsive Settings End*/
