{% extends "Globalsite/base.html" %}
{% load static %}
{% load i18n %}

  {% block Title %}Venturer {{ venturerNameAlias }}'s profile{% endblock %}
  {% block Customcss %}
  <link rel="stylesheet" type="text/css" href="{% static 'venturer/css/venturer.css' %}" />
  {% endblock %}

{% block mainContent %}

<header>
  <div class="container-fluid">
    <div class="row" id="divHUserHolder">
      <div class="col-xs-12" id="divUserCover">
        <div class="col-xs-12">
          <img class="img-circle img-responsive" src="{{ mediapath }}{{ venturerAvatar }}" alt="{{ venturerName }}'s avatar">
        </div>
        <div class="col-xs-12" id="divHVentName">
          <span>{{ venturerNameAlias }}</span>
        </div>
        <div class="col-xs-12">
          {{ venturerShortBio }}
        </div>
        <div class="col-xs-12" id="divHSocial">
          <ul>
            <li><a href="#">口</a> </li>
            <li><a href="#">口</a> </li>
            <li><a href="#">口</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<hr />
</header>
<main>
  <div class="container">
    <div class="col-xs-12">
      <nav>
        <ul class="nav nav-tabs" id="ulVNav">
          <li class="active"><a onclick="loadBHeader('all')">All</a></li>
          {% for category in venturerCategoryList %}
            <li><a onclick="loadBHeader('{{ category }}')">{{ category }}</a></li>
          {% endfor %}
        </ul>
      </nav>
            <div class="col-md-12" id="divVTagsSec">
              <div class="col-md-12">
                {{ venturerName }}'s Tags
              </div>
              <div class="col-md-12" id="divVTagArea">
                <div class="row" id="divVTagEntrance">
<!-- Will load tags via Ajax -->
                </div>
              </div>
            </div>
      <section id="secVPages">
        <header id="headTabs" class="panel">
<!-- header is loaded via Ajax -->
        </header>
        <main class="col-md-12">
          <div class="col-xs-12" id="divVArticles">
<!-- load articles via Ajax -->
          </div>
        </main>
      </section>
    </div>
  </div>
</main>

{% endblock %}
  {% block CustomJS %}
    <script src="{% static 'Globalsite/js/masonry.pkgd.min.js' %}"></script>
    <script type="text/javascript">

      //function handling VisibilityChange
      function onVisibilityChange(el, callback) {
          var old_visible;
          return function () {
              var visible = !isElementDisappeared(el);
              if (visible != old_visible) {
                  old_visible = visible;
                  if (typeof callback == 'function') {
                      callback(visible);
                  }
              }
          }
      }

      var handlerLogo = onVisibilityChange($("#divUserCover"), function(visible) {
        visible?($("#divnavheader .navbar-brand").addClass("hideInXS")):($("#divnavheader .navbar-brand").removeClass("hideInXS"));
      });

      var handlerNavOpa = onVisibilityChange($("#divUserCover"), function(visible) {
        visible?($("#divnavbarTop").addClass("navOpacified")):($("#divnavbarTop").removeClass("navOpacified"));
      });   

      //jQuery
      $(window).on('DOMContentLoaded load resize scroll', handlerLogo);
      $(window).on('DOMContentLoaded load resize scroll', handlerNavOpa);


//masonry acivation
      function reMasonry() {
        $('#divVArticles').masonry({
          // options...
          itemSelector: '.vArticle',
          columnWidth: 150
        });
      }

//load blog header
      function loadBHeader(tab) {
        $("#headTabs").html("").load("VCate/" + tab);
        loadVArticles(tab, "{{ venturerName }}");
      }

      function loadVArticles(category, venturer) {
        if (category == 'All' || category == 'all') {
          vArtURL = "/weblog/authors/" + venturer
        }
        else {
          vArtURL = "/weblog/categories/" + venturer + "/" + category
        }
        $.get(vArtURL, function(content) {
          // wrap content in jQuery object
          var vArticles = $(content);
          var vOldArticles = $($("#divVArticles").html());
          // remove old content and add jQuery object
          $("#divVArticles").html("").masonry( 'remove', vOldArticles).append(vArticles).masonry( 'appended', vArticles).masonry('layout');
        });
      }

// load personal tags
      function loadVTags() {
        $("#divVTagEntrance").html("").load("VTag");
      }

//executions
      $(function() {
        reMasonry();
        loadBHeader("{{ viewTab }}");
        loadVTags();
      });
      

    </script>

  {% endblock %}
 

