/* You can add global styles to this file, and also import other style files */
main#entry {
    text-align: center;
    min-height: 500px;
    i {
        margin: 10% auto;
        font-size: 300px;
    }
}