/* You can add global styles to this file, and also import other style files */

@import "assets/scss/_wcnthemes.scss";

main#entry {
    text-align: center;
    min-height: 500px;
    i {
        margin: 10% auto;
        font-size: 300px;
    }
}

.themeAC {

    $AC: map-get($theme, tAC);
    $PanelColor: map-get($AC, PanelColor);
    $CoverColor: map-get($AC, CoverColor);
    $bodyColor: map-get($AC, bodyColor);
    $TitleColor: map-get($AC, TitleColor);
    $TitleColorHigh: map-get($AC, TitleColorHigh);

    background-color: $bodyColor;

    .wcnPanel {
        background-color: $PanelColor;
    }
    .wcnButton {
        background-color: $PanelColor;
    }
    .wcnCover {
        background-color: $CoverColor;
    }
    .blockquote {
        color: $TitleColorHigh;
        border-left-color: $PanelColor;
        .blockquote-footer {
            color: $TitleColorHigh;
        }

    }
    .wcnButtonHigh {
        color: $TitleColorHigh;
    }
    .icon-wcNexusLogo {
        color: $TitleColorHigh;
    }
    .wcnTitle {
        color: $TitleColor;
    }
    .wcnTitleHigh {
        color: $TitleColorHigh;
    }

}

/*

wcnPanel
wcnButton
wcnButtonHigh
icon-wcNexusLogo
wcnTitle
wcnTitleHigh
wcnCover

*/

/* Responsive Settings Start. Bootstrap v4 */

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 576px) {	

}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 768px) {

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* Responsive Settings End*/