@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.@import "./_colors.scss";

$wcnTheme: (
    tDefault: (
        primary: mat-palette($mat-indigo),
        accent: mat-palette($mat-pink, A200, A100, A400),
        warn: mat-palette($mat-red),
        is-dark: false,
        foreground: $mat-light-theme-foreground,
        background: $mat-light-theme-background,
    ),
    tAC: (
        primary: mat-palette($mat-red),
        accent: mat-palette($mat-grey, A200, A100, A400),
        warn: mat-palette($mat-red),
        is-dark: true,
        foreground: $mat-dark-theme-foreground,
        background: $mat-dark-theme-background,
    ),
    tFallout: (
        primary: mat-palette($mat-green),
        accent: mat-palette($mat-blue, A200, A100, A400),
        warn: mat-palette($mat-red),
        is-dark: false,
        foreground: $mat-light-theme-foreground,
        background: $mat-light-theme-background,
    ),
    tTES: (
        primary: mat-palette($mat-grey),
        accent: mat-palette($mat-blue-grey, A200, A100, A400),
        warn: mat-palette($mat-red),
        is-dark: true,
        foreground: $mat-dark-theme-foreground,
        background: $mat-dark-theme-background,
    )
);

@mixin getTheme($themeName) {

    $localTheme: map-get($wcnTheme, $themeName);
    $localPrimary: map-get(map-get($localTheme, primary), 500); // hacking mat palette out 
    $localAccent1: map-get(map-get($localTheme, accent), A100);
    $localAccent2: map-get(map-get($localTheme, accent), A200);
    @include angular-material-theme($localTheme);

    .wcnTitleP {
        color: $localPrimary; // hacking mat palette out 
    }

    .wcnTitleA2 {
        color: $localAccent2;
    }

    .wcnTitleA1 {
        color: $localAccent1;
    }

    .wcnTitleA4 {
        color: map-get(map-get($localTheme, accent), A400);
    }

    .icon-wcNexusLogo {
        color: $localPrimary;
    }

    .wcnBG {
        background-color: map-get(map-get($localTheme, background), background);
    }

    .wcnPanel {
        background-color: $localPrimary;
    }

    .blockquote {
        border-left-color: $localAccent2;
        p {
            color: $localPrimary;
        }
        footer {
            color: $localAccent1;
        }
    }

    //material button patch
    .mat-raised-button, .mat-button {
        text-transform: uppercase;
    }

    // individual
    background-color: map-get(map-get($localTheme, background), background);

}


/* Specific themes */
.themeAC {
    @include getTheme("tAC");
}

.themeFallout {
    @include getTheme("tFallout");
}

.themeTES {
    @include getTheme("tTES");
}