<div [class]="themeService.config.current + ' app-root'">

  <nav class="app">
    <mat-toolbar color="primary">
      <a mat-button routerLink="/index">Index</a>
      <a mat-button href="/">Venture</a>
      <span class="flexSpacer"></span>
      <a mat-button href="https://github.com/valorad/wcnexus.com" target="_blank">Github</a>
    </mat-toolbar>
  </nav>

  <main class="router">
    <router-outlet></router-outlet>
  </main>

  <footer class="app">
    <p>
      <span>© 2017 Valorad the Oneiroseeker</span>
      <span><a href="https://github.com/valorad/wcnexus.com/blob/master/LICENSE" title="MIT License"><i class="iconfont icon-libra">libra</i></a></span>
    </p>
  </footer>
</div>