div.appRoot {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.isMobile nav.app {
  width: 100%;
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 100;
}

mat-sidenav-container.sNavContainer {
  z-index: 150;
}

#sidenavContainer {
  // Initially, side nav container's overflow is auto,
  // because unlike the official way, we have put the router parts inside mat-sidenav-content.
  // If we don't set this, we will not be able to scroll down.
  overflow: auto;
}

#sidenav {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.isMobile #sidenav {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-drawer-container {
  background-color: unset;
}

mat-sidenav-content.main {
  min-height: 100vh;
}

main.router {
  margin-top: 4em;
}

nav.app header, nav.app footer {
  display: flex;
}

nav.app {
  header {
    .brand {
      font-size: 2em;
      position: relative;
      top: 0.1em;
      right: 0.3em;
    }
    .title {
      font-size: 1.5em;
      line-height: 3em;
    }
  }
  footer {
    .brand {
      position: relative;
      right: 0.3em;
      top: 0.3em;
      i {
        font-size: 2em
      }
    }
    .title {
      line-height: 4em;
    }
  }
}

footer.app {
  display: flow-root;
  color: white;
  text-align: center;
  a {
    color: white;
  }
  div.social {
    text-align: center;
    i {
      font-size: 24px;
      margin: 0.5em;
    }
  }
}



@media only screen and (min-width: 992px) {
  main.router {
    margin-top: 0em;
  }

  footer.app {
    padding: 0.25rem;
    display: flex;
  }

  div.copyright {
    p {
      margin-left: 1em;
    }
  }

}